<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="PHUKIENHN.Properties.Settings.PHUKIENHNConnectionString"
            connectionString="Data Source=DESKTOP-CA3GECU\SQLEXPRESS01;Initial Catalog=PHUKIENHN;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>